<div id="container">
    <!--<p id="timer">60</p>-->
	<h1 id="score">0</h1>
    <div id="box" style="background-color: {{boxColor}}">{{boxText}}</div>
    <p id="option-one" onclick="check(this.id)">{{optionOne}}</p>
    <p id="option-two" onclick="check(this.id)">{{optionTwo}}</p>
    <p id="option-three" onclick="check(this.id)">{{optionThree}}</p>
</div>